# Dependencies
/node_modules
/bower_components

# Local Environment Variables
.env
.env.local

# IDE and Editor Files
.idea/         # JetBrains IDEs (IntelliJ, WebStorm, etc.)
.vscode/       # VS Code
*.iml          # JetBrains project files
*.swp          # Vim temporary files

# Operating System Files
.DS_Store      # macOS
Thumbs.db      # Windows

# Build/Dist folders
/dist
/build

# Temporary Files/Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
